@font-face {
  font-family: "Digital Numbers";
  src: url("../font/digital-numbers/DigitalNumbers-Regular.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

.fhead {
  width: 100%;
  display: block;
  margin: 0 auto;
  background-color: #5a36c5;
  background-image: url("../../assets/img/Hero%20Section%20Bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 0 70px 0;
}
/* 
.nobg {
  background: rgba(0, 0, 0, 0);
} */

.hrow {
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.icpad {
  padding: 0 6%;
  float: left;
  display: inline-block;
  width: 15%;
  margin: 20px 0 0 0;
}

/* header */
.desktopmenu .nav-item {
  width: 260px;
}
.weblogo .logo-img {
  min-width: 157px;
  max-width: 157px;
}

.slider-sec1 {
  margin: 90px 0 0;
  background-image: url("../img/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-sec1 .small-banner {
  display: none;
}
.banner-text {
  width: 328px;
  height: 494px;
  padding-top: 30px;
  font-family: "Digital Numbers" !important;
  font-size: 22px;
  font-weight: bolder;
  line-height: 36.15px;
  text-align: left;
  color: rgba(255, 245, 230, 1);
  text-shadow: 0px 4px 4px rgba(73, 41, 169, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dela Gothic One";
}

.sliderbtn {
  font-family: "Dela Gothic One";
  font-size: 20px;
  color: #5a36c5 !important;
}

/* custom  */
.custom-button {
  background: linear-gradient(#5a36c5, rgb(123, 86, 231) 60%, #916bfe);
  border: 1px solid #8f69fc;
  padding: 8px 18px;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
  width: 271px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -----------------sec 1 start--------------------- */
.sec1 {
  background: #fffbf5;
  background-image: url(../img/nuestros-bg.png);
  background-position: bottom right; /* Align the image to the bottom */
  background-size: contain; /* Scale the image so that it overflows 20% at the bottom */
  background-repeat: no-repeat;
}
.sec1 .sec1-content {
  margin-bottom: 50px;
}
.sec1 .course {
  background-color: #5a36c5;
  width: 493px;
  height: 499px;
  border-radius: 5px;
  padding: 25px;
}
.sec1 .course p {
  color: #fff5e6;
  margin-top: 15px;
  max-width: 424px;
  line-height: 33px;
  font-weight: 600;
  font-size: 25px;
}

p {
  font-family: "Red Hat Display";
}
/* check it */
.licon {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.licon img {
  width: auto;
  float: left;
}

.licon h6 {
  font-family: "Red Hat Display";
  font-weight: bold;
  font-size: 18px;
}
/*  */
.sphead {
  position: relative;
}
.sec1 .sphead::after {
  content: url("../../assets/img/centerimg.png");
  position: absolute;
  right: 0;
}
.sec1 .sphead::before {
  content: url("../../assets/img/top-left-img.png");
  position: absolute;
  top: 35px;
  left: -50px;
}

@media (max-width: 1024px) {
  .sphead {
    background: none !important;
  }
}

@media (min-width: 960px) {
  .licon {
    margin-left: 20% !important;
  }
}

@media (max-width: 960px) {
  .sec1-limg {
    background: none;
  }
}

@media (max-width: 996px) {
  .sec1-rimg {
    background: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sec1 .course p {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .sec1 .sphead::after,
  .sec1 .sphead::before {
    content: none;
  }
}

/* @media (max-width: 996px) {
  .sec1-row-rimg {
    background: none;
  }
} */
/* -----------------sec 1 end--------------------- */
/* -----------------counter sec start--------------------- */
.counter-parent-sec.sec2 {
  background-color: #fff5e6;
  background-image: none;
}
.sec2 .counter-section .sphead::before {
  content: url("../../assets/img/bottom-left-img.png");
  position: absolute;
  bottom: 10%;
  left: 0;
}
.sec2 .counter-section .sphead::after {
  content: url("../../assets/img/centerimg.png");
  position: absolute;
  right: 0%;
  top: 2%;
}
.sec2 .content-counter {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 25px;
}
.sec2 .content-counter #det {
  margin-bottom: 30px;
}
.sec2 .content-counter p {
  font-family: "Dela Gothic One";
  max-width: 573px;
  line-height: 35px;
  font-weight: 400;
  font-size: 24px;
  color: #5a36c5;
  text-align: center;
  text-shadow: 4px 4px 4px rgba(90, 54, 197, 0.23);
}
.sec2 .content-counter .counter-number {
  font-family: "Dela Gothic One";
  line-height: 72.4px;
  font-size: 50px;
  font-weight: 400;
  color: #5a36c5;
  text-shadow: 4px 4px 4px #5a36c53b;
  text-align: center;
  margin: 0 !important;
}
@media (max-width: 767px) {
  .sec2 .counter-section .sphead::after,
  .sec2 .counter-section .sphead::before {
    content: none;
  }
  .sec2 .content-counter {
    padding: 0 25px;
  }
}
@media (max-width: 991px) {
  .sec2 .counter-section .content-counter p {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .sec2 .content-counter .counter-number {
    line-height: 52px !important;
    font-size: 30px !important;
  }
}
/* -----------------counter sec end--------------------- */

/* -----------------sec 2 start--------------------- */
.sec2 {
  background-image: url(../img/background-design-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  background-color: #fff5e6;
}
.sec2 .sphead::before {
  content: url("../../assets/img/bottom-left-img.png");
  position: absolute;
  bottom: 10%;
  left: 0;
}
.sec2 .sphead::after {
  content: url("../../assets/img/centerimg.png");
  position: absolute;
  right: 10%;
  top: 2%;
}
.sec2 .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 55px;
}
.sec2 .content p {
  max-width: 573px;
  line-height: 33px;
  font-weight: 600;
  font-size: 25px;
  color: #5a36c5;
  margin-bottom: 55px;
}
@media (max-width: 767px) {
  .sec2 .sphead::after,
  .sec2 .sphead::before {
    content: none;
  }
  .sec2 .content {
    padding: 0 0 55px 0;
  }
}
@media (max-width: 991px) {
  .sec2 .sphead::after {
    content: none;
  }
  .sec2 .content p {
    font-size: 20px;
    margin-bottom: 40px;
  }
}
/* -----------------sec 2 end--------------------- */
/* -----------------sec 4 start--------------------- */
.sec4 {
  background-color: #f7f7f7;
  background-image: url(../img/background-design-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sec4 .content p {
  max-width: 1335px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 32px;
  line-height: 42.34px;
  color: #5a36c5;
  margin-bottom: 30px;
}

.sec4 .content p span {
  background-color: #5a36c5;
  color: #fff5e6;
  text-shadow: 0px 1px 5px #fff5e6 !important;
  padding-top: 3px;
}
.sec4 .content h4 {
  font-family: "Red Hat Display";
  font-weight: 700;
  font-size: 32px;
  line-height: 42.34px;
  color: #5a36c5;
}
@media (max-width: 576px) {
  .sec4 .content p {
    font-size: 22px;
  }
  .sec4 .content h4 {
    font-size: 22px;
  }
}
/* -----------------sec 4 end--------------------- */
/* -----------------sec 5 start--------------------- */
.sec5 {
  background-color: #fff5e6;
}
/* -----------------sec 5 end--------------------- */
/* -----------------sec 6 start--------------------- */
@media (max-width: 768px) {
  .brand-image img {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .sec6 h1 {
    font-size: 20px !important;
  }
}
/* -----------------sec 6 end--------------------- */

.boxsec {
  background: #fff7eb;
  border: 1px solid #5a36c5;
  margin-left: 5%;
  margin-right: 5%;
}

.boxsec img {
  float: left;
  display: inline-block;
}

/* .2ndbtn {
} */

.bluebtn {
  font-family: "Dela Gothic One";
}

@media (max-width: 1400px) {
  .gmsec {
    min-height: 180px;
  }
}

@media (max-width: 992px) {
  .gmsec div {
    min-height: 115px;
  }
}
/* proyectos area css start */
.spheadw {
  text-align: left;
  padding-left: 5%;
  padding-bottom: 20px;
  position: relative;
}
.spheadw:after {
  content: url("../../assets/img/linea_horizontal%201.png");
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.darlimg {
  background: url("../../assets/img/darklimg.png") no-repeat left top;
  padding-left: 5%;
  position: relative;
}

@media (max-width: 1220px) {
  .darlimg {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .darlimg {
    background: none;
    padding-left: 0;
    position: relative;
  }
}

/* swiper code */
.proyectos .swiper-container {
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.proyectos .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyectos .swiper-slide .box {
  padding: 25px;
  background: rgba(255, 247, 235, 1);
  border: 2px solid rgba(255, 255, 255, 1) !important;
  border: 2px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proyectos .swiper-slide .box img {
  width: 100%;
}
.proyectos .swiper-slide a {
  color: rgba(90, 54, 197, 1);
  text-decoration: none;
}
.proyectos .swiper-slide a .box .box-text {
  padding: 25px 0 0 0;
  font-family: "Red Hat Display";
  font-size: 20px;
  font-weight: 600;
  line-height: 33.07px;
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: pre-wrap;
  overflow: hidden;
  word-wrap: break-word;
  /* color: rgba(90, 54, 197, 1); */
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute !important;
  top: 50% !important;
  margin: 0 !important;
  transform: translateY(-50%);
  cursor: pointer;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next {
  right: -30px !important;
}

.swiper-button-prev {
  left: 34px !important;
}

@media (max-width: 1400px) and (min-width: 1200px) {
  .swiper-button-prev {
    left: 25px !important;
  }
} 
@media (max-width: 1200px) and (min-width: 991px) {
  .swiper-button-prev {
    left: 18px !important;
  }
} 
@media (max-width: 991px) and (min-width: 768px) {
  .swiper-button-prev {
    left: 6px !important;
  }
}
@media (max-width: 768px) {
  .swiper-button-prev {
    left: -32px !important;
  }
}

/* Hide buttons initially */
.swiper-button-next img,
.swiper-button-prev img {
  opacity: 0;
  pointer-events: none;
  width: 70px;
}

/* Show buttons when needed */
.swiper-button-next.active img,
.swiper-button-prev.active img {
  opacity: 1;
  pointer-events: auto;
}
@media (max-width: 600px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
.spheadbig:after {
  content: url("../../assets/img/centerimg.png");
  padding-left: 25px;
}

.ggimg99 {
  display: block;
  margin: 100px auto;
  max-width: 600px;
}

.testimonial-top-left {
  display: inline-block;
  float: left;
  margin: 0 15px 0 0;
}

.testimonial {
  display: block;
  margin: 0 auto;
  background: #fff3e0;
  border: 1px solid #5a36c5;
  padding: 20px 5%;
  margin: 15px;
}
@media (min-width: 991px) and (max-width: 1200px) {
  .testimonial {
    margin: 15px 0;
  }
}

.testimonial-holder {
  display: block;
  margin: 40px auto;
}

.testimonial-holder iframe {
  width: 100% !important;
}

@media (max-width: 768px) {
  .ggimg99 {
    width: 100%;
  }
}

.forcenocolor {
  background: #fff7eb;
}

.footerlogo {
  display: block;
  margin: 10px auto 50px;
}

.modal-body .btn-close {
  float: right;
}

.mtopimg {
  background: url("../../assets/img/modelTop.png") no-repeat top center;
  padding: 50px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.mbotimg {
  background: url("../../assets/img/Group%20225.png") no-repeat bottom center;
  width: 100%;
  display: block;
  min-height: 70px;
}

.colornum {
  background: #5a36c5;
  border-radius: 110px;
  margin: 0 15px 0 0;
  max-width: 50px;
  display: inline-block;
  max-height: 50px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  min-width: 50px;
}

@media (max-width: 767px) {
  .weblogo {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .sphead:after {
    content: none;
  }
}

@media (max-width: 767px) {
  .spheadw:after {
    content: none;
    padding: 20px 0;
  }
}

@media (max-width: 767px) {
  .spheadw {
    padding: 0 0 50px 0;
  }
}

@media (max-width: 767px) {
  .spheadbig:after {
    content: none;
  }
}

@media (max-width: 767px) {
  .mobpad {
    max-width: 45%;
    float: left;
  }
}

@media (max-width: 767px) {
  .noshow {
    display: none;
  }
}

@media (max-width: 767px) {
  .btn-img {
    width: 100%;
  }
}

.ifloat {
  display: block;
  position: fixed;
  top: 170px;
  right: 0;
  z-index: 999;
}

.ifloat a {
  display: block;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  max-width: 64px;
  min-width: 64px;
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.yticon {
  text-align: center;
}

@media (min-width: 768px) {
  .ifloat {
    display: none;
  }
}

@media (max-width: 767px) {
  .slider-sec1 {
    margin: 20px 0 0;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1366px) {
  .nav-item a {
    font-size: 14px !important;
  }
}

.fleft {
  display: inline-block;
  margin: 0 auto;
  float: left;
  max-width: 20px;
  vertical-align: middle;
}

.dropdown:after {
  content: "";
}

.mobmenu {
  display: none;
}

@media (max-width: 766px) {
  .mobmenu {
    display: block;
    float: right;
    padding: 0;
    margin: -40px 0 0 0;
    vertical-align: top;
    position: static;
    top: 40px;
    right: 0;
  }
}

@media (max-width: 1280px) {
  .nav-tabs {
    justify-content: space-around !important;
  }
}
@media (max-width: 1400px) and (min-width: 1200px) {
  .desktopmenu .nav-item {
    width: 200px !important;
  }
}
@media (max-width: 1200px) and (min-width: 1024px) {
  .desktopmenu .nav-item {
    width: 160px !important;
  }
  .ictop {
    display: flex !important;
  }
}
@media (max-width: 1023.8px) and (min-width: 991px) {
  .desktopmenu .nav-item {
    width: 150px !important;
  }
}
@media (max-width: 990.8px) and (min-width: 767px) {
  .desktopmenu .nav-item {
    width: auto !important;
  }
  .weblogo .logo-img {
    min-width: 125px !important;
    max-width: 125px !important;
  }
}
@media (max-width: 766px) {
  .desktopmenu {
    display: none !important;
  }
  .slider-sec1 {
    background-image: none;
  }
  .slider-sec1 .small-banner {
    display: block;
  }
  .slider-sec1 .small-banner img {
    width: 100%;
  }
  .banner-text {
    height: auto;
  }
}

.alwaysright {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0;
  vertical-align: top;
  position: static;
  top: 40px;
  right: 0;
}

.mobmenu li {
  width: 100%;
  display: block;
  margin: 2px auto;
}

@media (max-width: 766px) {
  .mobzero {
    width: 0px !important;
    float: left;
    display: inline-block;
  }
}

.mobmenu ul {
  margin-top: 30px;
}

@media (max-width: 766px) {
  .noshow {
    display: none;
  }
}

.mobilemenufull {
  display: block;
  margin: -40px auto 0;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .nav li a {
    font-size: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .topicon {
    display: inline-block;
    float: left;
    max-width: 16px;
    vertical-align: bottom;
  }
}

@media only screen and (min-width: 961px) and (max-width: 1100px) {
  .nav li a {
    font-size: 13px !important;
  }
}

.ictop a {
  width: 45%;
  display: inline-table;
  margin: 0 auto;
}

.ictop {
  display: block;
  margin: 0 auto;
  /*width: 100%;*/
}

@media (max-width: 766px) {
  .noshow {
    display: none;
  }
}

.image-row {
  display: flex;
  justify-content: space-evenly;
  vertical-align: middle;
  align-items: center;
  flex-wrap: wrap;
}

.image-row img {
  max-width: 100%;
  height: auto;
  flex: 1 1 auto;
  object-fit: cover;
}

.this5 img {
  max-width: 20%;
}

.this6 img {
  max-width: 16%;
}

.this7 img {
  max-width: 14%;
}

.this2 {
}

.this2 img {
  max-width: 30%;
  margin: 20px 0 0;
}

.desktopmenu {
  float: right;
  width: 100%;
}

.material-icons {
  height: auto;
}

.alwaysright img {
  max-width: 32px;
}

@media (max-width: 767px) {
  .fullbtn {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
